   /* edit this part */
   body {
    background-color: #f0f8ff;
}
div {
    width: 75%;
    min-width: 500px;
    border: 1px solid #333333;
    margin: 1em;
    padding: 0.5em;
    background-color: white;
}
.ip {
    background-color: #fdfd96 ;
    
}
.q {
    background-color: #fdca96;
}

.ip , .q {
    font-weight: bold;
    padding: 0 0.5em;
}